body{
    background-color: #321A4A;
    font-family: "Inter", sans-serif;
}

.Form{
    width: 1600px;
    height: 805px;
    border: 1px white solid;
    margin-left: 160px;
    margin-top: 257px;
    border-radius: 60px;
}

.Form .zagolovok{
    color: white;
    text-align: center;
    margin-top: 50px;
}

.Form .zagolovok a{
    text-decoration: none;
}

.Form .container{
    width: 1250px;
    height: 630px;
    background-color: #FDA6D7;
    border-radius: 60px;
    margin-left: 175px;
    margin-top: 35px;
}

.Form .container .inputs{
    width: 300px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border: 0px;
}

.Form .container .name{
    margin-left: 125px;
    margin-top: 60px;
}

.Form .container .email{
    margin-left: 50px;
    margin-top: 60px;
}

.Form .container .number{
    margin-left: 50px;
    margin-top: 60px;
}

.Form .container .vibor{
    margin-left: 125px;
    margin-top: 30px;
}

.Form .container .date_bron{
    margin-left: 50px;
    margin-top: 30px;
}

.Form .container .time{
    margin-left: 55px;
    margin-top: 30px;
}

.Form .container .second_text{
    margin-left: 125px;
    margin-top: 30px;
    width: 1000px;
    height: 250px;
}

.Form .container .name::placeholder{
    padding-left: 15px;
} 

.Form .container .email::placeholder{
    padding-left: 15px;
} 

.Form .container .number::placeholder{
    padding-left: 15px;
} 

.Form .container .vibor::placeholder{
    padding-left: 15px;
} 

.Form .container .date_bron::placeholder{
    padding-left: 15px;
} 

.Form .container .time::placeholder{
    padding-left: 15px;
} 

.Form .container .second_text::placeholder{
    padding-left: 30px;
    padding-top: 10px;
    font-size: 24px;
}

.Form .container .sumbit{
    margin-left: 525px;
    margin-top: 50px;
    width: 200px;
    height: 50px;
    background-color: #321A4A;
    color: white;
    font-size: 24px;
}

